<!--<div class="order-form col-lg-6 wow animate__fadeInLeft" id="orderForm">-->
<!--  <form id="form">-->
<!--    <div class="order-title"><h2>Сделать заказ</h2></div>-->
<!--    <div class="row mb-3">-->
<!--      <div class="col">-->
<!--        <label for="firstName" class="form-label">Имя</label>-->
<!--        <input type="text" class="form-control hvr-grow-shadow" id="firstName" [(ngModel)]="formValues.name">-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <label for="lastName" class="form-label">Фамилия</label>-->
<!--        <input type="text" class="form-control hvr-grow-shadow" id="lastName" [(ngModel)]="formValues.lastName">-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <label for="phone" class="form-label">Телефон</label>-->
<!--        <input type="tel" class="form-control hvr-grow-shadow" id="phone" [(ngModel)]="formValues.phone">-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row mb-3">-->
<!--      <div class="col">-->
<!--        <label for="country" class="form-label">Страна</label>-->
<!--        <input type="text" class="form-control hvr-grow-shadow" id="country"  [(ngModel)]="formValues.country">-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <label for="zip" class="form-label">Индекс</label>-->
<!--        <input type="number" class="form-control hvr-grow-shadow" id="zip" [(ngModel)]="formValues.zip">-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <label for="product" class="form-label">Товар</label>-->
<!--        <input type="text" class="form-control hvr-grow-shadow" name="product" id="product" [(ngModel)]="formValues.product">-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--      <label for="address" class="form-label" [(ngModel)]="formValues.address">Адрес</label>-->
<!--      <textarea class="form-control hvr-grow-shadow" id="address" rows="3"></textarea>-->

<!--      <label for="comment" class="form-label" [(ngModel)]="formValues.comment">Комментарий</label>-->
<!--      <textarea class="form-control hvr-grow-shadow" id="comment" rows="3"></textarea>-->
<!--    </div>-->

<!--    <button class="btn btn-primary hvr-pulse" id="submitButton">Отправить</button>-->

<!--  </form>-->

<!--  <div id="dialog" title="Успешно">-->
<!--    <p>Спасибо за заказ. Мы свяжемся с вами в ближайшее время!</p>-->
<!--  </div>-->




<!--</div>-->


<div class="container d-flex justify-content-center min-vh-100">
  <div class="order-form col-lg-8 wow animate__fadeInLeft" id="orderForm">
    <form id="form">
      <div class="order-title"><h2>Сделать заказ</h2></div>

      <div class="row mb-3">
        <div class="col">
          <label for="firstName" class="form-label">Имя</label>
          <input type="text" class="form-control hvr-grow-shadow" id="firstName"
                 name="name" [(ngModel)]="formValues.name" required>
        </div>
        <div class="col">
          <label for="lastName" class="form-label">Фамилия</label>
          <input type="text" class="form-control hvr-grow-shadow" id="lastName"
                 name="lastName" [(ngModel)]="formValues.lastName" required>
        </div>
        <div class="col">
          <label for="phone" class="form-label">Телефон</label>
          <input type="tel" class="form-control hvr-grow-shadow" id="phone"
                 name="phone" [(ngModel)]="formValues.phone" required>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="country" class="form-label">Страна</label>
          <input type="text" class="form-control hvr-grow-shadow" id="country"
                 name="country" [(ngModel)]="formValues.country" required>
        </div>
        <div class="col">
          <label for="zip" class="form-label">Индекс</label>
          <input type="number" class="form-control hvr-grow-shadow" id="zip"
                 name="zip" [(ngModel)]="formValues.zip" required>
        </div>
        <div class="col">
          <label for="product" class="form-label">Товар</label>
          <input type="text" class="form-control hvr-grow-shadow fw-bold text-primary" id="product"
                 name="product" [(ngModel)]="formValues.product" readonly>
        </div>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Адрес</label>
        <textarea class="form-control hvr-grow-shadow" id="address" rows="3"
                  name="address" [(ngModel)]="formValues.address" required></textarea>
      </div>

      <div class="mb-3">
        <label for="comment" class="form-label">Комментарий</label>
        <textarea class="form-control hvr-grow-shadow" id="comment" rows="3"
                  name="comment" [(ngModel)]="formValues.comment"></textarea>
      </div>

      <button type="submit" class="btn btn-primary hvr-pulse" id="submitButton">Отправить</button>
    </form>

    <div id="dialog" title="Успешно">
      <p>Спасибо за заказ. Мы свяжемся с вами в ближайшее время!</p>
    </div>
  </div>
</div>
