<p class="h1 text-center">Наши чайные коллекции</p>
<div class="cardBlock wow animate__fadeInLeft">
  <div class="row row-cols-auto">
    <div class="col-lg-4">
      <div class="card">
        <a class="popUp-image" href="assets/images/image1.png"><img src="assets/images/image1.png" class="card-img-top" alt="image1"></a>
        <div class="card-body">
          <h5 class="card-title">Детокс чай лайм</h5>
          <p class="card-text">Великолепный чай внесет в вашу жизнь яркие краски и вкус расслабления</p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a class="popUp-image" href="assets/images/image2.png"><img src="assets/images/image2.png" class="card-img-top" alt="image3"></a>
        <div class="card-body">
          <h5 class="card-title">Ягодный чай</h5>
          <p class="card-text">Нотки ягод позволят вам расслабиться и насладиться великолепием этого чая</p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a class="popUp-image" href="assets/images/image3.png"><img src="assets/images/image3.png" class="card-img-top" alt="image3"></a>
        <div class="card-body">
          <h5 class="card-title">Цветочный чай</h5>
          <p class="card-text">Душистые цветы создают невероятный аромат и наполняют вас энергией</p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a class="popUp-image" href="assets/images/image%204.png"><img src="assets/images/image%204.png" class="card-img-top" alt="image4"></a>
        <div class="card-body">
          <h5 class="card-title">Очищающий чай</h5>
          <p class="card-text">Бесподобный чай для получения утреннего заряда бодрости</p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a class="popUp-image" href="assets/images/image%205.png"><img src="assets/images/image%205.png" class="card-img-top" alt="image5"></a>
        <div class="card-body">
          <h5 class="card-title">Кислый чай</h5>
          <p class="card-text">Кислый чай для настоящих ценителей кислинки во время чаепития</p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a class="popUp-image" href="assets/images/image%206.png"><img src="assets/images/image%206.png" class="card-img-top" alt="image6"></a>
        <div class="card-body">
          <h5 class="card-title">Лимонная мята</h5>
          <p class="card-text">Смесь лимона с мятой сделает ваш день самым лучшим</p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>
